.calendar-heatmap {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.calendar-heatmap .circle {
  cursor: pointer;
}
.calendar-heatmap .label {
  cursor: pointer;
  fill: rgb(170, 170, 170);
  font-family: Helvetica, arial, 'Open Sans', sans-serif;
}
.calendar-heatmap .heatmap-tooltip {
  pointer-events: none;
}
.calendar-heatmap .heatmap-tooltip .heatmap-tooltip-background {
  fill: rgba(255, 255, 255, 0.75);
}
.calendar-heatmap .heatmap-tooltip text {
  font-size: 12px;
  fill: rgb(51, 51, 51);
  font-family: Helvetica, arial, 'Open Sans', sans-serif;
}
